In [20]:
import pandas as pd
import glob

In [25]:
stock_data = pd.concat([pd.read_csv(f, sep=";", index_col=0)
                       for f in glob.glob('./data/' + '*.csv')])
stock_data = stock_data.reset_index(drop=True)
stock_data.head()

         Date    Open  High   Low Close Adj Close       Volume
0  2021-11-24  0.5300   0.6  0.42  0.51      0.51  119,844,100
1  2021-11-23  0.3500  0.36  0.33  0.34      0.34    1,591,800
2  2021-11-22  0.3800  0.38  0.35  0.35      0.35    1,500,500
3  2021-11-19  0.3700  0.38  0.36  0.36      0.36    1,347,100
4  2021-11-18  0.3800  0.39  0.37  0.37      0.37    1,585,200

In [22]:
stock_data[stock_data.isna().any(axis=1)]

            Date              Open High  Low Close Adj Close Volume
2812  2010-09-27  1:10 Stock Split  NaN  NaN   NaN       NaN    NaN
1146  2017-05-10   1:7 Stock Split  NaN  NaN   NaN       NaN    NaN
2255  2012-12-13     5.25 Dividend  NaN  NaN   NaN       NaN    NaN
2760  2010-12-13       14 Dividend  NaN  NaN   NaN       NaN    NaN

In [23]:
stock_data = stock_data.dropna()
stock_data.shape

(15849, 7)